<%- include("../../../layouts/browserToolsBar") %>

    <% if (locals.boxes) { %>
        <h1 style="display: flex; justify-content: center; margin-top: 60px;">
            <%= locals.boxes %>
        </h1>

        <% } %>

            <div class="link-box">
                <%- include("../../../layouts/linkBox") %>
                <div>
                    

                </div>
                <iframe src="" frameborder="0" allow="autoplay"></iframe>
            </div>

            