<div class="impressum-box">
    <h1>Angaben gemäß § 5 TMG und § 18 Abs. 2 MStV</h1>
    <div class="dev-box">
        <h2>Verantwortlich:</h2>
        <p>Marcel Arslan</p>

        <h2>Anschrift:</h2>
        <p>Hauptstraße, 22</p>
        <p>56291, Lingerhahn</p>
        <h2>Kontakt:</h2>
        <p>E-Mail: <a href="mailto:help@scaletta.live">help@scaletta.live</a></p>
        <!-- Telefon (optional): [Telefonnummer einfügen] -->
    </div>
    <h2>Angaben zur Website</h2>

    Diese Website stellt Informationen zu dem privaten Twitch-Bot <b>Scaletta</b> bereit.
    Es handelt sich um ein nicht-kommerzielles Projekt ohne Gewinnerzielungsabsicht.

    <h2>Haftung für Inhalte</h2>

    Als Diensteanbieter bin ich gemäß § 7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
    Gesetzen
    verantwortlich.
    Nach §§ 8 bis 10 TMG bin ich jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
    überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.

    <h2>Haftung für Links</h2>

    Diese Website enthält Links zu externen Websites Dritter, auf deren Inhalte ich keinen Einfluss habe.
    Für diese fremden Inhalte übernehme ich daher keine Gewähr.

    <h2>Urheberrecht</h2>

    Die durch mich erstellten Inhalte und Werke auf dieser Website unterliegen dem deutschen Urheberrecht.
    Beiträge Dritter sind als solche gekennzeichnet.
</div>