<link rel="stylesheet" href="../css/boxes/alert-box-bar.css">

<div class="navbar">
    <a href="/follows">Follower</a>
    <a href="/raids">Raids</a>
    <a href="/bits">Bits</a>
    <a href="/subs">Subscriber</a>

    <!-- <a href="/donations">Spenden</a> -->
</div>