<link rel="stylesheet" href="../css/boxes/alert-box-bar.css">

<div class="navbar">
    <a href="/followbox">Follower</a>
    <a href="/subs">Subscriber</a>
    <a href="/raid">Raids</a>
    <a href="/donations">Spenden</a>
</div>