<link rel="stylesheet" href="../css/browserTools/browserToolsBar.css">

<div class="navbar">
    <a href="/clipsplayer">Clips</a>
    <a href="/lastFm">Musik Player</a>
    <!-- <a href="/spotify">Spotify</a> -->
</div>