<link rel="stylesheet" href="../css/commands/commandBar.css">

<div class="navbar">
    <a href="/commands">Standard Befehle</a>
    <a href="/customcommands">Custom Befehle</a>
    <a href="/jokes">Witze</a>
    <a href="/intervall">Intervall Befehle</a>
</div>