<h3>So bindest du deine <%= type %> in OBS ein:</h3>
            <div class="explanation" id="help">
                <ul>
                    <li>1. OBS öffnen.</li>
                    <li>2. Neue <strong>Browser-Quelle</strong> hinzufügen.</li>
                    <li>3. Deiner Browser Source einen Namen geben.</li>
                    <li>4. Persönlichen Link in das <strong>URL-Feld</strong> einfügen.</li>
                    <li>5. Mit <strong>OK</strong> bestätigen.</li>
                    <li>6. Zurücklehnen und live erleben. ✨</li>
                </ul>
                <video muted loop playsinline controls>
                    <source src="../VID/index/clip.mp4" type="video/mp4">
                </video>
            </div>