<footer>
    <div class="social-media">
        <a href="https://discord.gg/jNVSkGE7zs" aria-label="follow to discord"><img
                src="/./img/footer/discord_logo.png" alt=""></a>
        <a href="https://wa.me/4915259649322" aria-label="follow to whatsapp"><img src="/./img/footer/whatsapp_logo.png"
                alt=""></a>
    </div>

    <div class="policys">
        <a href="/dataSecure">Datenschutz</a>
        <p>|</p>
        <a href="/impressum">Impressum</a>
    </div>
</footer>