<link rel="stylesheet" href="./css/link-box.css">


<h3>
    🔐 <b>Sicherheitshinweis</b><br>
    Dein persönlicher <%- locals.type || 'Link'%> ist vertraulich.<br>
    Bitte gib ihn nicht weiter, um Missbrauch zu vermeiden.
</h3>
<div class="input-field">
    <div class="inner">
        <input class="blur" type="text" name="linkBox" id="linkBox" onclick="deleteBlur('linkBox')"
            value="<%- locals.link %>" readonly>
        <button title="Kopiere den Link." id="saveBtn" onclick="copyBtn()" style="border-radius:0px 0px 0px 0px ; border-right: solid #2bdffe; border-left: solid #2bdffe;"><img src="./img/alert-box/save-button.png" alt=""></button>
        <button title="Ändere den Link." id="reloadKeyBtn" onclick="reloadKey('<%- locals.change %>')"><img src="./img/alert-box/generate-new-key.png" alt=""></button>
    </div>
    <% if (locals.helpLink){ %>
    <div class="help">
        <h3>Du benötigst Hilfe beim Hinzufügen? Kein Problem!</h3>
        <button title="Hier bekommst du Hilfe." onclick="window.location.href='<%= locals.helpLink %>'">Drück Mich</button>
    </div>
    <% } %>
</div>

<script src="./js/linkBox.js"></script>