@font-face {
  font-family: 'JetBrains Mono';
  src: url('../font/JetBrainsMono-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

button{
    font-family: 'JetBrains Mono', monospace;
}

* {
    color: white;
    margin: 0;
}

html {
    position: relative;
    scroll-behavior: smooth;
    min-height: 100%;
    padding-bottom: 150px;
}

body {
    background-color: black;
    font-family: 'JetBrains Mono', monospace;
}

.policys a {
    text-decoration: none;
    transition: color 0.5s ease;
}

.policys a:hover {
    color: #2BD6F1;
}

input[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
}

/* Die Rundung für Chrome/Edge/Safari */
input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid #e2e8f0;
}

/* Die Rundung für Firefox */
input[type="color"]::-moz-color-swatch {
    border-radius: 50%;
    border: 2px solid #e2e8f0;
}