* {
    color: white;
    margin: 0;
}

html {
    position: relative;
    scroll-behavior: smooth;
    min-height: 100%;
    padding-bottom: 150px;
}

body {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background {
    z-index: -100;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../VID/star-bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.policys a {
    text-decoration: none;
    transition: color 0.5s ease;
}

.policys a:hover {
    color: #2BD6F1;
}