.cookie-window {
    z-index: 100;
    background-color: rgba(34, 34, 34, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cookie-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;
        background-color: rgba(34, 34, 34, 1);
    padding: 10px 20px;
    border-radius: 10px;
}

.cookie-text {
    font-size: 20px;
    padding-bottom: 30px;
}

.cookie-text p {
    margin: 10px 0px;
}

.cookie-window button {
    font-weight: bold;
    padding: 10px;
    transition: color 0.5s ease;
    background-color: rgba(34, 34, 34, 1);
    cursor: pointer;
    transition: color, background-color 1s ease;
}

.cookie-window button:first-child{
    font-size: 20px;
    border: none;
    border-radius: 10px 10px 10px 10px;
}

.cookie-window button:hover {
    color: black;
    background-color: #2BD6F1;
}

.closeButton button {
    min-height: 40px;
    min-width: 40px;
    border-radius: 100px;
}

.closeButton {
    display: flex;
    justify-content: end;
}

.cookie-button {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;

}

#cookieOwl {
    cursor: pointer;
    position: fixed;
    bottom: 70px;
    right: 30px;
    transform: rotateY(180deg);
    height: 70px;
    z-index: 100;
}