footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 18px;
    padding: 10px 40px;
    height: 120px;
    background-color: rgba(34, 34, 34, 0.7);
    box-shadow: 0px -10px 10px rgba(34, 34, 34, 0.7);
}

footer a {
    padding: 0 5px;
    text-decoration: none;
    transition: color 0.5s ease;
}

footer a:hover {
    color: white;
}

.social-media img {
    height: 50px;
}

.policys {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 600px) {
    footer {
        flex-direction: row;
    }
}