h2 {
    font-size: 50px;
}

.clip {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* height: 80%; */
    width: 100%;
}

video {
    display: flex;
    justify-content: start;
    width: 90%;
}

.cliper {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.cliper p {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    width: 90%;
    margin: 0;
    padding: 0;
    font-size: 34px;
}

.cliper img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.visible {
    animation: getVisible 2s linear;
}

@keyframes getVisible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.invisible {
    animation: getInvisible 2s linear;
    opacity: 0;
}

@keyframes getInvisible {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}