.navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0px 60px;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: -15px -10px 10px rgba(34, 34, 34, 0.7),
        15px -10px 10px rgba(34, 34, 34, 0.7),
        -15px 10px 10px rgba(34, 34, 34, 0.7),
        15px 10px 10px rgba(34, 34, 34, 0.7);
    border-radius: 10px;
}

.navbar a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 25%;
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

.navbar a:hover {
    color: #2bdffe;
}