.left {
    display: flex;
    flex-direction: row-reverse;
}

.right {
    display: flex;
    flex-direction: row;
}

.top {
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    flex-direction: column-reverse;
}

.inner{
    position: relative;
    display: inline-block;

}

.inner .alert-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    text-align: center;
    pointer-events: none;
}

/* Optional: Das Bild innerhalb der Box ansprechen */
.inner .alert-img img {
    display: block;
    max-width: 100%;
    height: auto;
}