<h2>Welche Alert Box möchtest du bearbeiten?</h2>

<%- include("../../layouts/alertBoxBar") %>

    <h2>Oder brauchst du nur deinen persönlichen Link?</h2>

    <div class="link-box">
        <%- include("../../layouts/linkBox") %>
            <%- include("../../layouts/explanationBrowserSource") %>
    </div>
