<h2>Welche Alert Box möchtest du bearbeiten?</h2>

<%- include("../../layouts/alertBoxBar") %>

    <h2>Oder brauchst du nur deinen persönlichen Link?</h2>

    <div class="link-box">
        <%- include("../../layouts/alertBoxLink") %>
            <h3>So bindest du deine Alert Box in OBS ein:</h3>
            <div class="explanation">
                <ul>
                    <li>1. OBS öffnen.</li>
                    <li>2. Neue <strong>Browser-Quelle</strong> hinzufügen.</li>
                    <li>3. Deiner Alert Box einen Namen geben.</li>
                    <li>4. Persönlichen Link in das <strong>URL-Feld</strong> einfügen.</li>
                    <li>5. Mit <strong>OK</strong> bestätigen.</li>
                    <li>6. Zurücklehnen und Alerts live erleben. ✨</li>
                </ul>
                <video muted loop playsinline controls>
                    <source src="../VID/index/clip.mp4" type="video/mp4">
                </video>
            </div>
    </div>
