<div class="align">

    <h1><%- locals.text %></h1>

    <img src="<%= locals.img %>" alt="">

    <div>
        <a href="/">Komm. Ich bringe dich zurück.</a>
    </div>

</div>
<script>
    document.getElementById("cookieDiv").remove()
</script>