<link rel="stylesheet" href="../../../css/browserTools/websocket/websocket-assets.css">

<div class="clip" id="clipContainer">
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io();
    const key = "<%= targetUser %>";
    const clipContainer = document.getElementById('clipContainer')

    socket.on("connect", async () => {
        console.log("Verbunden für Raum: " + key);
        socket.emit("join-room", key);
        await getClip();
    });

    socket.on("newClip", (data) => {

        clipContainer.innerHTML = ` <div style='width:100%; display:flex; justify-content:start'>
                                        <h2 style='width:90%; text-align:center;'>${data.game}</h2>
                                    </div>
                                    <div>
                                        <video id="clipPlayer" src="${data.video}" autoplay></video> 
                                    </div>
                                    <div class="cliper">
                                        <p>Clipped by: ${data.cliper}</p>
                                        <img src="${data.cover}" alt="">
                                    </div>`;
        setTimeout(async () => {
            await getClip()
        }, data.duration * 1000 - 5000);
    });

    async function getClip() {
        try {

            await fetch(`/clipsplayer/getclip/${key}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ key: key })
            });

        } catch (error) {
            console.error("Fehler beim Clip-Abruf:", error);
            setTimeout(getClip, 3000);
        }
    }

</script>