<%- include("../../layouts/commandBar") %>
    <div class="commands-box" id="renderContent">
        <div class="headline">
            <p>Commands</p>
            <p>Beschreibung</p>
            <p>Berechtigung</p>
            <p>Status</p>
        </div>
        <section id="socialMedia" name="socialMedia">

        </section>
        <section id="functions" style="margin-top: 30px;">
            <!-- <div class="default-commands-checkbox">
                <div style="cursor: pointer;" class="default-commands" onclick="fadeIt('clip')">
                    <p>!so, !sh, !shoutout</p>
                    <p>Shoutout</p>
                    <p></p>
                </div>
                <div class="checkbox">
                    <label>
                        <input id="${title}State" type="checkbox"${getState(socialMedia.state)}>
                        <div class="toggle"><span></span></div>
                    </label>
                </div>
            </div>
            <div class="closed" id="clipSlide">
                <div class="fade-box">
                <div class=align-slide>
                </div>
                <div style="width:30%;">
                </div>
                    <ul class="allow-level">
                    <li>
                        <label>
                            <input type="checkbox" name="" id="${title}Anybody"  onclick="highlightAll('${title}')" ${getState(socialMedia.stateTitle.anybody)}>
                            <div class="toggle"><span></span></div>
                         </label>Jeder
                     </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" id="${title}Subscriber" ${getState(socialMedia.stateTitle.subscriber)}>
                            <div class="toggle"><span></span></div>
                         </label>Abonnenten
                     </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" id="${title}Vip" ${getState(socialMedia.stateTitle.vip)}>
                            <div class="toggle"><span></span></div>
                         </label>VIP
                     </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" id="${title}Moderator" ${getState(socialMedia.stateTitle.moderator)}>
                            <div class="toggle"><span></span></div>
                         </label>Moderatoren
                     </li>
                    <li>
                        <label>
                            <input type="checkbox" name="" id="${title}Broadcaster" ${getState(socialMedia.stateTitle.broadcaster)}>
                            <div class="toggle"><span></span></div>
                         </label>Streamer
                     </li>
                    </ul>

                    <div class="cooldown">
                        <p>Die Länge der Clips <br> (maximal 60 Sekunden)</p>
                        <input type="number" name="clipLength" id="clipLength" value="${socialMedia.settings.clipLength}" max="60" min="0">
                    </div>
                </div>
            </div> -->
        </section>
        <div class="buttons">
            <button onclick="deleteValues()" id="deleteButton">Löschen</button>
            <button onclick="readValues()" id="safeButton">Speichern</button>
        </div>
    </div>

    <script>const data = <%- JSON.stringify(defaultCommand) %></script>
    <script src="./js/commands/defaultCommands/render.js"></script>
    <script src="./js/commands/logicCmds.js"></script>
    <script src="./js/commands/defaultCommands/saveCommands.js"></script>