<%- include("../../layouts/commandBar") %>

    <div class="box" >
        <div class="box-line">
            <p>Bearbeiten</p>
            <p>Name</p>
            <p style="width: 60%;">Text</p>
            <p>Intervall <br>
                in Sekunden</p>
            <p>Status</p>
        </div>
        <div id="headline"></div>
        <div class="box-line">
            <div class="creation-buttons">
                <button onclick="createIntervall()">Hinzufügen</button>
                <button onclick="saveIntervall()" id="safeButton">Speichern</button>
            </div>
        </div>
    </div>

    <script> const data = <%- JSON.stringify(locals.data) %> </script>
    <script src="./js/commands/intervall.js"></script>