<%- include("../../layouts/commandBar") %>

    <div class="joke-box">
        <div class="joke-section">
            <p>Trigger</p>
            <p>Beschreibung</p>
            <p>Ganze Liste</p>
            <p>Status</p>
        </div>
        <div id="renderJokes"></div>

        <div class="joke-buttons">
            <button onclick="window.location.href='/data?jokes=true'">Alle Deaktivieren</button>
            <button
                onclick="window.location.href='/data?jokes=true&animals=true&deinemudda=true&chucknorris=true&flachwitze=true'">Alle
                aktivieren</button>
            <button onclick="safeJokes()">Speichern</button>
        </div>
    </div>

    <script>
        const data = <%- JSON.stringify(locals.jokeData) %>;
        const keys = Object.keys(data)
        window.onload = function () { render() }
        function render() {
            for (let index = 0; index < keys.length; index++) {
                const renderJokes = document.getElementById("renderJokes")
                renderJokes.innerHTML += `<div class="joke-section">
                                    <p>${data[keys[index]].trigger}</p>
                                    <p>${data[keys[index]].category}</p>
                                    <p><a href="/jokes/${data[keys[index]].id}">Entdecke die Liste</a></p>
                                    <input id="${data[keys[index]].id.split(" ").join("")}" type="checkbox" ${checkState(index)}>
                                </div>`
            }
        }
        function checkState(index) {
            if (data[keys[index]].state) {
                return "checked"
            }
            else { return "false" }
        }
    </script>

    <script src="../js/commands/jokes.js"></script>
    <script src="../js/commands/logicCmds.js"></script>