<%- include("../../layouts/commandBar") %>

    <div class="joke-box">
        <div class="joke-section">
            <p>Trigger</p>
            <p>Beschreibung</p>
            <p>Ganze Liste</p>
            <p>Status</p>
        </div>
        <div id="renderJokes"></div>

        <div class="joke-buttons">
            <button id="button1" onclick="acDeButton(false, this)">Alle Deaktivieren</button>
            <button id="button2" onclick="acDeButton(true, this)">Alle
                aktivieren</button>
            <button id="button3" onclick="safeJokes(this)">Speichern</button>
        </div>
    </div>

    <script>
        const data = <%- JSON.stringify(locals.jokeData) %>;
        const keys = Object.keys(data)
        window.onload = function () { render() }
        function render() {
            for (let index = 0; index < keys.length; index++) {
                console.log(data[keys[index]].trigger)
                const renderJokes = document.getElementById("renderJokes")
                renderJokes.innerHTML += `<div class="joke-section">
                                    <p>${data[keys[index]].trigger}</p>
                                    <p>${data[keys[index]].category}</p>
                                    <p><a href="/jokes/${data[keys[index]].id.split(" ").join("%20")}">Entdecke die Liste</a></p>
                                                <label>
                <input class="toggle" id="${data[keys[index]].id}" type="checkbox" ${checkState(index)}>
                <div class="toggle"><span></span></div>
            </label>
                                    
                                </div>`
            }
        }
        function checkState(index) {
            if (data[keys[index]].state) {
                return "checked"
            }
            else { return "false" }
        }
    </script>

    <script src="../js/commands/jokes.js"></script>
    <script src="../js/commands/logicCmds.js"></script>