<%- include("../../layouts/commandBar") %>
    <div id="renderJokes">

    </div>
    <script>
        const jokeList = <%- JSON.stringify(jokes) %> 
    </script>
    <script src="/./js/commands/joke-list.js"></script>