<%- include("../../layouts/docksBar") %>
    <div class="box">
        <h2>So bindest du die Docks in OBS ein:</h2>
        <div class="explanation">
            <ul>
                <li>1. Öffne OBS.</li>
                <li>2. Klicke oben links auf <strong>Docks</strong>.</li>
                <li>3. Wähle <strong>Benutzerdefinierte Browser-Docks</strong> aus.</li>
                <li>4. Gib bei <strong>Dock-Name</strong> deinen Namen ein.</li>
                <li>5. Füge bei <strong>URL</strong> den erhaltenen Link ein.</li>
                <li>6. Klicke auf <strong>Anwenden</strong>.</li>
                <li>7. Verschiebe das Dock an die gewünschte Position.</li>
                <li>8. Fertig!</li>
            </ul>
            <video muted loop playsinline controls>
                <source src="../VID/index/clip.mp4" type="video/mp4">
            </video>
        </div>
    </div>