<div class="ad-field">
    <h2> WERBUNG </h2>
    <div>
        <p>Jetzt:</p>
        <p id="adNow">Keine Werbung</p>
    </div>

    <!-- <div>
        <p>Nächste in:</p>
        <p id="adThen">0 Sekunden</p>
    </div> -->
</div>

<div class="cover"></div>

<script src="/socket.io/socket.io.js"></script>
<script>

    const socket = io();
    const username = "<%= targetUser %>";
    socket.on("connect", () => {
        socket.emit("join-room", username)
    });
    const sleep = (ms) => new Promise(resolve => setTimeout(resolve, ms));
    
    
    socket.on("new-add", async (data) => {

        let time = Number(data.adNow)
        document.getElementById("adNow").innerText = data.adNow + "Sekunden";
        console.log("werbung gestartet")
        while (true) {
            if (time === 0) {
                document.getElementById("adNow").innerText = "Keine Werbung";
                break
            }
            await sleep(1000)
            time--
            document.getElementById("adNow").innerText = time + " Sekunden";
        }
    })

</script>