<%- include("../../../layouts/docksBar") %>
    <div class="link-box">
        <%- include("../../../layouts/linkBox") %>
    <div style="font-family: sans-serif; padding: 15px; background-color: #1e1e1e; color: #ffffff; border-radius: 8px; border-left: 5px solid #2bdffe; border-right:5px solid #2bdffe; ;">
        <h3 style="margin-top: 0; color:#2bdffe;">Werbe-Monitor</h3>
        <p style="display: flex; justify-content: center; line-height: 1.5; margin-bottom: 0;">
            Behalte deinen Stream im Griff: Dieses Tool zeigt dir in Echtzeit, ob gerade Werbung
                geschaltet wird und berechnet präzise das Ende des Werbeblocks.
        </p>
    </div>
    </div>
