.data-secure-box {
    margin: 60px 0;
    padding: 40px 40px;
    background-color: rgba(34, 34, 34, 0.7);
    border-radius: 10px;
}

.data-secure-box h1 {
    padding-bottom: 40px;
    font-size: 24px;
    text-align: center;
}

.data-secure-box h2 {
    text-align: center;
    padding: 20px 0px;
}

.data-secure-box h3 {
    padding-top: 20px;
}

.data-secure-box a {
    text-decoration: none;
    transition: color 0.5s ease;
}

.data-secure-box a:hover {
    color: #2BD6F1;
}

@media screen and (min-width:1000px) {
    .data-secure-box {
        margin: 60px;
    }

    h1 {
        font-size: 34px;
    }
}