.impressum-box {
    margin: 40px 0;
    padding: 40px 40px;
    background-color: rgba(34, 34, 34, 0.7);
    border-radius: 10px;
}

.impressum-box h1 {
    text-align: center;
    font-size: 24px;
}

.dev-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.dev-box h2 {
    margin-top: 20px
}

.dev-box a {
    text-decoration: none;
    transition: color 0.5s ease;
}

.dev-box a:hover {
    color: #2BD6F1;
}

@media screen and (min-width:1000px) {
    .impressum-box{
        margin: 60px;
    }

    .impressum-box h1{
        font-size: 34px;
    }
}