.commands-box {
    display: flex;
    flex-direction: column;
    margin: 60px 60px;
    background-color: rgba(34, 34, 34, 0.7);
    box-shadow: -15px -10px 10px rgba(34, 34, 34, 0.7),
        15px -10px 10px rgba(34, 34, 34, 0.7),
        -15px 10px 10px rgba(34, 34, 34, 0.7),
        15px 10px 10px rgba(34, 34, 34, 0.7);
    border-radius: 10px;
}

.headline {
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px 10px 0px 0px;
}

.headline p {
    width: 30%;
}

.headline p:last-child {
    display: flex;
    justify-content: center;
    width: 10%;
}

.default-commands-checkbox:nth-of-type(2):not(.closed) {
    background-color: black;
}

.default-commands-checkbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(34, 34, 34, 0.8);
}

.default-commands-checkbox:hover {
    background-color: rgba(54, 54, 54, 0.7);
}

.default-commands-checkbox:last-child {
    width: 10%;

}

.default-commands {
    width: 90%;
    cursor: pointer;
    padding: 10px 40px;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.default-commands p {
    width: 33.3%;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    padding-right: 30px;
}

.checkbox input {
    width: 15px;
}

.checkbox button {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border-color: #2bdffe;
    background-color: #222222;
    color: white;
}

.closed {
    padding: 0;
    height: 0px;
    overflow: hidden;
    transition: height 2s ease, padding 2s ease;
}

.fade-open {
    padding: 10px 40px;
    height: 170px;
}

.fade-box {
    display: flex;
    justify-content: space-between;
}

.fade-box p {
    align-items: center;
}

.fade-box ul {
    width: 30%;
}

.fade-box input {
    width: 30%;
    border-radius: 10px;
    border-color: #2bdffe;
    background-color: rgba(34, 34, 34, 1);
    height: 30px;
}

.link {
    padding-right: 40px;
    width: 30%;
}

.link a {
    color: white;
    text-decoration: none;
    word-break: break-all;
    transition: color 0.5s ease;
}

.link a:hover {
    color: #2bdffe;
}

.cooldown {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cooldown input {
    margin: 10px 0px;
}

.allow-level li {
    display: flex;
    align-items: center;
}

.allow-level input {
    margin: 10px 0px;
    margin-right: 10px;
    height: 13px;
    width: 13px;
}

.allow-level ul {
    list-style-type: none;
}

.creation-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.8);
}

.creation-window input {
    width: 250px;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
    border-color: #2bdffe;
    background-color: rgba(34, 34, 34, 1);
}

.creation-window input::highlight {
    border-color: black;
}

.creation-window div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin: 10px;
    padding: 10px;
}

.creation-buttons {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(34, 34, 34, 0.8);

}

.creation-buttons button {
    cursor: pointer;
    font-size: 24px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border-color: #2bdffe;
    background-color: #222222;
    color: white;
    width: 30%;
}

.error-text {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 10px;
    font-size: 24px;
    animation: rainbow 10s infinite;
}

@keyframes rainbow {
    0% {
        color: red;
    }

    14% {
        color: orange;
    }

    28% {
        color: yellow;
    }

    42% {
        color: green;
    }

    57% {
        color: #2bdffe;
    }

    71% {
        color: indigo;
    }

    85% {
        color: violet;
    }

    100% {
        color: red;
    }
}