.main {
    margin: 60px;
    box-shadow: -15px -10px 10px rgba(34, 34, 34, 0.7),
        15px -10px 10px rgba(34, 34, 34, 0.7),
        -15px 10px 10px rgba(34, 34, 34, 0.7),
        15px 10px 10px rgba(34, 34, 34, 0.7);
    border-radius: 10px;
    /* background-color: rgba(34, 34, 34, 0.7); */
}

.functions {
    padding: 10px 40px;
    display: flex;
    padding: 10px;
}

.functions p {
    width: 25%;
}

.functions:first-child {
    border-radius: 10px 10px 0px 0px;
}

.functions:nth-child(odd) {
    background-color: rgba(34, 34, 34, 0.7);
}

.functions:last-child {
    border-radius: 0px 0px 10px 10px;
}

.closed {
    padding: 0;
    height: 0px;
    overflow: hidden;
    transition: height 2s ease, padding 2s ease;
}

.fade-open {
    padding: 30px 40px;
    height: 100px;
}

.fade-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fade-box input {
    width: 30%;
    border-radius: 10px;
    border-color: #2bdffe;
    background-color: rgba(34, 34, 34, 1);
    height: 30px;
}

.align-slide {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 80px;
}

.align-slide p {
    padding-bottom: 20px;
}

/* das ist der slider */
label {
    display: flex;
    align-items: center;
}

.toggle {
    position: relative;
    width: 60px;
    /* neue Breite */
    height: 20px;
    /* Höhe 20px */
    background: red;
    border-radius: 10px;
    /* Hälfte der Höhe */
    cursor: pointer;
    transition: background 0.3s;
}

/* Der kleine Kreis */
.toggle::after {
    content: '';
    position: absolute;
    top: 2px;
    /* Padding für 16px Kreis */
    left: 2px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Checkbox ausblenden */
input[type="checkbox"] {
    display: none;
}

/* Wenn aktiviert: Hintergrund grün + Kreis nach rechts */
input[type="checkbox"]:checked+.toggle {
    background: #4caf50;
}

input[type="checkbox"]:checked+.toggle::after {
    transform: translateX(42px);
    /* 60 - 16 - 2*2 = 42px */
}

/* Optional: Beschriftung AN/AUS */
.toggle span {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: white;
    pointer-events: none;
    user-select: none;
}

.end-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.end-buttons button {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 24px;
    border-color: #2bdffe;
    background-color: #222222;
    color: white;
    width: 80%;
}