<%- include("../../layouts/browserToolsBar") %>
    <div class="link-box">
        <%- include("../../layouts/linkBox") %>
            <%- include("../../layouts/explanationBrowserSource") %>
    </div>